//
// Colors
//

$green: #005366;
$yellow: #FFBA3A;
$black: #000000;

$feedback-color: $yellow;

$body-heading-color: $green;
$search-result-preview-color: $green;
$nav-child-link-color: $green;
$link-color: $green;
$btn-primary-color: $green;
$table-background-color: $grey-lt-300;
$body-text-color: $black;
